* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 14px;
    font: inherit;
    vertical-align: baseline;
    font-family: Poppins-Regular, sans-serif;
    color: #666;
}

html, body {
    height: 100%;
    min-width: 700px;
}

body {
    background-color: #ebeeef;
}

.container {
    height: auto;
    min-height: 100%;
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
    display: flex;
    flex-direction: column;
    background-color: #ebeeef;
}

.center-div {
    width: 50%;
    min-width: 700px;
    margin: 0 auto;
}

.nav-menu {
    flex: 0 0 80px;
    background: #fff;
    border-bottom: 1px solid #999999;
}

.container-nav-menu {
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.nav-menu-items{
    margin: auto 0;
}

.nav-menu-items a {
    text-decoration: none;
}

.nav-menu-items-style {
    text-decoration: none;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: inset 0 -3px 0 #B19B74;
    border-radius: 5px;
}
.nav-menu-items-style:hover {
    box-shadow: inset 0 -50px 0  #B19B74;
}

#logo:hover {
    background-color: #666;
}

#logo-img {
    height: 70px;
    margin: 5px 10px;
}

#profile {
    height: 40px;
    display: flex;
    align-items: center;
    margin-right: 170px;
}

#profile-img {
    height: 30px;
    margin: 10px 5px 10px 0;
}

#search-bar input {
    margin: 25px;
    display: block;
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #eaeaea;
    border-radius: 5px;
    background-image: url("./images/search-icon.png");
    background-size: 15px;
    background-position: 60px 5px;
    background-color: #FAFAFA;
    background-repeat: no-repeat;
    padding: 3px 20px 3px 80px;
    font-size: 0.8rem;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#search-bar input:focus {
    outline: none;
    padding-left: 25px;
    background-position: 5px;
    background-color: #ffffff;
}

/* STYLES FOR INFO CONTAINER */

.profile-container {
    display: flex;
    flex-direction: column;
    background: #fff;
}

/* STYLES FOR INFORMATION NAV */

.profile-container {
    height: auto;
    min-height: 100%;
    background-color: #ebeeef;
}

.info-header {
    padding-top: 20px;
    font-size: 26px;
    color: #8c8c8c;
    height: 7%;
}



#divider {
    position: fixed;
    border-left: thick solid #cecece;
}




/* STYLES FOR THE INFORMATION PAGES */

.info-container {
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#info-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;
}

.info-header {
    text-align: center;
    padding-bottom: 5px;
}

/* these hold the label and input */

.info-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.profile-label {
    display: inline-block;
    padding: 10px;
}

.profile-input {
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.profile-input:hover {
    background: #f8f8f8;
}

/*Styles for buttons*/

.clearfix {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #f1f1f1;
    font-size: 16px;
}

.profile-btn {
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
/* styles for add photo */

.add-img-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.add-img-container-element {
    padding:5px;
}

.add-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    padding: 5px;
}

.add-file + label {
    border-radius: 4px;
    padding: 5px;
    font-size: 1.25em;
    color: white;
    background-color: grey;
    display: inline-block;
}

.add-file:focus + label,
.add-file + label:hover {
    background-color: #8e8e8e;
}

.add-file + label {
    cursor: pointer;
}


#profile-picture {
    height: 100px;
}

#img-icon {
    height: 15px;
    margin-right: 10px;
    opacity: 0.6;
}

#add-img-btn:hover {
    background: grey;
}

#cancel-btn {
    background-color: grey;
}

.cancel-enabled {
    background: #f44336
}

#save-btn {
    background-color: grey;
}

.save-enabled {
    background: #4CAF50;
}

.edit-btn {
    background-color: #008CBA;;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* STYLES FOR MANAGEMENT PAGE */

.management-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    width: 45em;
}

.divider-horizontal {
    border-bottom: thick solid #cecece;
    width: 100%;
    padding: 5px;
}

/* styles for new user requests */

.request-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.request-person {
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 0.2em;
}

.request-person-static {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.request-person img {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 80px;
}

/* info card popup styles */


/* style for the text bubble */
.popup-text {
    display: none;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    left: 40%;
    top: 20%;
    z-index: 1;
}

.popup-text .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


.request-header p {
    font-size: 18px;
}

.request-header em {
    font-size: 12px;
    color: grey;
}

.request-container-element {
    width: 80%;
    padding: 5px;
}

select {
    margin: 0.3em;
}

.management-new-requests {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.management-edit {
    padding: 5px;
}

.request-button {
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

.accept-request-btn {
    background: #4CAF50;
    margin: 1em;
    height: 4em;
}

.accept-request-btn:hover {
    background: rgba(76, 175, 79, 0.705);
}

.decline-request-btn {
    background: #f44336;
    margin: 1em;
    height: 4em;
}

.decline-request-btn:hover {
    background: #f44336d3
}

.w20 {
    width: 20%;
}

/* EDIT PARTION STYLES */

.management-edit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.edit-header p {
    font-size: 18px;
}

/* search by name styles */

.search-name-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.name-search {
    margin-top: 23px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.sidemargins {
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.search-name-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border: 5px solid #ccc;
    margin-bottom: 2em;
}

#search-btn {
    color: white;
    display: block;
    width: 60px;
    box-sizing: border-box;
    border: 2px solid #eaeaea;
    border-radius: 5px;
    background: #808080;
    padding:2px;
    height: 3em;
    margin-top: auto;
}

#search-btn:hover {
    background: #949494;
}

/* styles for search result container */

.search-result-container {
    /*display: none;*/
    flex-direction: column;
    justify-content: space-between;
}

/* search by department styles */

.search-department-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.search-department-dropdown {
    width: 200px;
    height: 30px;
}

.search-person {
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

.search-person-static {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.search-person img {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 80px;
}

.edit-user-btn {
    background: grey;
    width: 80%;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 0 2em;
}

.edit-user-btn:hover {
    background: rgb(155, 154, 154);
}

/* MODAL POPUP STYLES*/

.dropdown-menu {
    width: 100%;
    padding: 10px;
    background: #e5e5e5;
  }

.dropdown-menu:hover {
    background: #d3d2d2;
}

  /* Background for the modal */
  .modal-edit {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 1; /* Floats on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #474e5d;
    padding-top: 50px;
  }


  /*Styles for modal content*/
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 60%;
    font-family: Poppins-Regular, sans-serif;
  }


  .modal-container h1 {

    text-align: center;
    font-family: Poppins-Regular, sans-serif;
    font-size: 50px;
    padding: 5px;
  }

  .modal-container p {
    text-align: center;
    font-family: Poppins-Regular, sans-serif;
    font-size: 15px;
    padding: 5px;
  }

  /* Styles for input fields */
  .modal-input  {
    display: flex;
    align-content: center;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
  }
  /*Chance colour when field get focus */
  .modal-container[type=text]:focus, input[type=password]:focus, input[type=telnumber]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
  }

  /*uniform placeholder styles */
  .modal-container ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 0.2;
    font-size: 14px;
  }

  .modal-container :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    opacity: 0.2;
    font-size: 14px;
  }

  .modal-container ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
    opacity: 0.2;
    font-size: 14px;
  }

  /* Style for submit button */
  .modal-container button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  .modal-container button:hover {
    opacity:1;
  }
  /* Add padding to container elements */
  .modal-container {
    padding: 25px;
  }
/*--STYLES FOR CLOSE BUTTON--*/
/* (x) button */

.modal-edit .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Add padding to modal container elements */
.modal-container {
    padding: 25px;
}

/* Mobile media queries */

@media screen and (max-width: 900px) {
    .info-container {
        flex-direction: column;
        justify-content: space-between;
    }
}

/* Adding styling for profile-menu*/

.profile-menu {
    height: auto;
    min-height: 100%;
}
