/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 21, 2018, 1:55:02 PM
    Author     : Pyrt
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
    font: inherit;
    vertical-align: baseline;
    font-family: Poppins-Regular, sans-serif;
    color: #666;
}


/* -- STYLES FOR THE LOGIN PAGE -- */


.login-menu {
    background: #ebeeef;
}

/* flex container for the login page */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-menu-items {
    margin: auto 0;
    padding: 5px;
}

/* Styles for individual login-menu-items */

#login-greeting {
    font-size: 20px;
    font-weight: bold;
}

#logo-img {
    height: 70px;
    margin: 5px 10px;
}

.input-label {
    font-weight: bold;
}

/*placeholder styles */
.login-container ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 0.2;
    font-size: 14px;
}

.login-container :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    opacity: 0.2;
    font-size: 14px;
}

.login-container ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
    opacity: 0.2;
    font-size: 14px;
}

/* Styles for buttons */

.login-container .buttons {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.buttons #login-button{
    background-color: #4CAF50;
    color: white;
    padding: 4px 10px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
}
.buttons #login-button:hover, #register-button:hover {
    opacity: 1;
}

/* Styles for the register container */

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 1; /* Floats on top */
    right: 0;
    top: 0;
    width: 100px;
    height: 100px;
    overflow: auto;
}

#register-paragraph {

}

/* Styles for the register button */

#register-button{
    background-color: #ffbf00;
    color: white;
    padding: 4px 10px;
    margin: 4px 2px;
    border: none;
    cursor: pointer;
    width: 80px;
    opacity: 0.9;
}

/* -- MODAL SIGNUP STYLES --*/

/* for header and paragrap */

/* styles for dropdown menu */

.dropdown-menu {
    display: flex;
    align-content: center;
    width: 100%;
    padding: 10px;
    margin: 5px 0 5px 0;
    background: #e5e5e5;
}

/* Background for the modal */
.modal-signup {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 1; /* Floats on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #474e5d;
    padding-top: 50px;
}


/*Styles for modal content*/
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 60%;
    font-family: Poppins-Regular, sans-serif;
}


.modal-container h1 {

    text-align: center;
    font-family: Poppins-Regular, sans-serif;
    font-size: 50px;
    padding: 5px;
}

.modal-container p {
    text-align: center;
    font-family: Poppins-Regular, sans-serif;
    font-size: 15px;
    padding: 5px;
}




/*--INPUT STYLES --*/

/* Styles for input fields */
.modal-input  {
    display: flex;
    align-content: center;
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
}
/*Chance colour when field get focus */
.modal-container[type=text]:focus, input[type=password]:focus, input[type=telnumber]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

/*uniform placeholder styles */
.modal-container ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 0.2;
    font-size: 14px;
}

.modal-container :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    opacity: 0.2;
    font-size: 14px;
}

.modal-container ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
    opacity: 0.2;
    font-size: 14px;
}

/* dropdown styles */

/*--BUTTON STYLES --*/


/* Style for submit button */
.modal-container button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.modal-container button:hover {
    opacity:1;
}

/*--STYLES FOR CLOSE BUTTON--*/
/* (x) button */

.modal-signup .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Add padding to container elements */
.modal-container {
    padding: 25px;
}

